#body{
    background-color: rgba(162,173,184,1.0);
    height: 900px;
    width: 100%;
}


.infoAboutMe{
    text-align: center;
}

.aboutMeTitle{
    font-family: var(--font-four);
}

#resumeButton{
    margin-left: 40%;
}

#portfolioTitle{
    font-family: var(--font-four);
    font-weight: bold;
}

#portfolioBlurb{
    
}

#mySkillset{
    margin-left: -5%;
}

#codePenButton{
    align-items: center;

}

.card{
    border: transparent;
    background: #e9ecf0;
}

.card-img-top{
    block-size: 20%;
}

.card-body{
    background: #e9ecf0;
}

.contactForm{
    width: 65%;
    align-content: center;
    margin: auto;
}

#contactMeBlurb{

}

#portfolioLine{
    margin-top: -100px;
}